{% extends "portfolio/base.html" %}

{% block title %}About Me{% endblock %}

{% block body %}

<h2>About Me</h2>

<section class="about">
	<div class="description">
		<p>Hi, I&#8217m Alex!</p>
		
		<p>I&#8217m a full-stack software engineer living in the Boston area. You can find some of the projects I&#8217ve worked on <a href="{% url 'projects' %}">here</a>.</p>

		<p>I also have a Ph.D. in philosophy from the University of Southern California. You can find my philosophy publications <a href="{% url 'publications' %}">here</a>.</p>

		<ul>
			<li><a href="mailto:alex.dietz@gmail.com">Email</a></li>
			<li><a href="https://www.linkedin.com/in/alex-dietz/">LinkedIn</a></li>
			<li><a href="https://github.com/alexdietz1988">GitHub</a></li>
			<li><a href="https://alexdietz-personal.s3.amazonaws.com/resume.pdf">Resume</a></li>
		</ul>
	</div>

	<div class="inline-image">
		<img src="https://alexdietz-personal.s3.amazonaws.com/photo.jpeg" alt="photo of me">
	</div>
</section>

{% endblock %}