{% extends "portfolio/base.html" %}

{% block title %}Publications{% endblock %}

{% block body %}
<h2>Publications</h2>

<section class="publication">
<b><a href="https://www.cambridge.org/core/journals/utilitas/article/abs/collective-reasons-and-agentrelativity/D3AA759E8B2CCF673CA018837A78E76E" target="_blank">Collective Reasons and Agent-Relativity</a>. <i>Utilitas</i>, 2022.</b>
<p>This paper discusses a certain kind of conflict that can arise between what <em>you</em> ought to do as an individual, and what <em>we</em> ought to do as a group.</p>
</section>

<section class="publication">
<b><a href="https://brill.com/view/journals/jmp/18/4/article-p387_387.xml?language=en" target="_blank">How to Use the Paradox of Hedonism</a>. <i>Journal of Moral Philosophy</i>, 2021.</b>
<p>The <em>paradox of hedonism</em> is the idea that intrinsically desiring nothing other than pleasure can prevent one from obtaining pleasure. In this paper, I show how this idea presents a challenge to a variety of theories of well-being, and how these theories can escape it.</p>
</section>

<section class="publication">
<b><a href="https://philpapers.org/rec/DIEAMT" target="_blank">Are My Temporal Parts Agents?</a> <i>Philosophy and Phenomenological Research</i>, 2020.</b>
<p>This paper discusses ethical issues arising from the idea that a person&#8217s so-called <em>temporal parts</em> (such as “me-in-my-twenties”) might be thought of as agents in their own right.</p>
</section>

<section class="publication">
<b><a href="https://philpapers.org/rec/DIEETP" target="_blank">Explaining the Paradox of Hedonism</a>. <i>Australasian Journal of Philosophy</i>, 2019.</b>
<p>Another paper on the <em>paradox of hedonism</em>, or the idea that intrinsically desiring nothing other than pleasure can prevent one from obtaining pleasure. This paper develops a theory of what might explain this phenomenon, according to which the paradox is not just an empirical accident, but rather a consequence of the nature of pleasure itself.</p>
</section>

<section class="publication">
<b><a href="https://philpapers.org/rec/DIEEAA-2" target="_blank">Effective Altruism and Collective Obligations</a>. <i>Utilitas</i>, 2019.</b>
<p>This paper explores a prominent critique of the effective altruism (EA) movement, according to which EA fails to acknowledge the importance of institutional change.</p>
</section>

<section class="publication">
<b><a href="https://philpapers.org/rec/DIEWWT" target="_blank">What We Together Ought to Do</a>. <i>Ethics</i>, 2016.</b>
<p>This paper defends the idea that ethical obligations can apply to groups of people, not only to individuals, and discusses how these collective obligations might bear on what individuals ought to do.</p>
</section>

{% endblock %}