.blog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.post {
	width: 500px;
	line-height: 1.4;
}

@media screen and (max-width: 525px) {
	.post {
		width: 80vw;
	}
}