main {
	display: flex;
	flex-direction: row;
}

.posts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 10px;
	width: 500px;
}

.post {
	line-height: 1.4;
}

aside {
	width: 300px;
	padding-left: 20px;
}

.private {
	display: inline;
	color: white;
	background-color: gray;
	padding: 5px;
	border-radius: 10px;
}

.login {
	display: inline-block;
	color: white;
	background-color: darkslategray;
	padding: 5px;
	border-radius: 10px;
	margin-top: 10px;
}

.login a {
	color: lightblue;
}

@media screen and (max-width: 525px) {

	main {
		flex-direction: column-reverse;
	}

	.posts, aside {
		padding: 0;
		width: 100%;
	}
}