{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block body %}

<h2>About Me</h2>

<section>
	<div class="description">
		<p>Hi, I&#8217m Alex!</p>
		<p>I used to be a philosophy professor in the UK. Now I&#8217m in the Boston area starting a new career in software engineering.</p>

		<p>You can find some of the coding projects I&#8217ve worked on <a href="./coding-projects.html">here</a>, and you can find the philosophy articles I&#8217ve published <a href="./philosophy.html">here</a>.</p>

		<ul>
			<li>Email: <a href="mailto:alex.dietz@gmail.com">alex.dietz@gmail.com</a></li>
			<li>LinkedIn: <a href="https://www.linkedin.com/in/alex-dietz/">linkedin.com/in/alex-dietz/</a></li>
			<li>GitHub: <a href="https://github.com/alexdietz1988">github.com/alexdietz1988</a></li>
		</ul>
	</div>

	<img src="http://www.alexdietz.com/images/photo.jpeg" alt="photo of me">
</section>

{% endblock %}