<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Dietz | Philosophy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
		<h1>Alex Dietz</h1>
		<nav>
			<ul>
				<li><a href="./home.html">About Me</a></li>
				<li><a href="./coding-projects.html">Coding Projects</a></li>
				<li><a href="./philosophy.html">Philosophy</a></li>
				
			</ul>
		</nav>
	</header>

    <main>
    <h2>Philosophy</h2>

    <section>
    <p>Here are the philosophy articles I&#8217ve published:</p>
    <ul>
        <li class="philosophy-article"><a href="https://www.cambridge.org/core/journals/utilitas/article/abs/collective-reasons-and-agentrelativity/D3AA759E8B2CCF673CA018837A78E76E" target="_blank">Collective Reasons and Agent-Relativity</a>. <i>Utilitas</i>, 2022.</li>
        <li class="philosophy-article"><a href="https://brill.com/view/journals/jmp/18/4/article-p387_387.xml?language=en" target="_blank">How to Use the Paradox of Hedonism</a>. <i>Journal of Moral Philosophy</i>, 2021.</li>
        <li class="philosophy-article"><a href="https://philpapers.org/rec/DIEAMT" target="_blank">Are My Temporal Parts Agents?</a> <i>Philosophy and Phenomenological Research</i>, 2020.</li>
        <li class="philosophy-article"><a href="https://philpapers.org/rec/DIEETP" target="_blank">Explaining the Paradox of Hedonism</a>. <i>Australasian Journal of Philosophy</i>, 2019.</li>
        <li class="philosophy-article"><a href="https://philpapers.org/rec/DIEEAA-2" target="_blank">Effective Altruism and Collective Obligations</a>. <i>Utilitas</i>, 2019.</li>
        <li class="philosophy-article"><a href="https://philpapers.org/rec/DIEWWT" target="_blank">What We Together Ought to Do</a>. <i>Ethics</i>, 2016.</li>
    </ul>
    </section>
</main>

</body>
</html>