{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block body %}
<h2>Projects</h2>

<section>
    <div class="description">
        <h3>Greatest Albums</h3>
        <p><a href="http://thegreatestalbums.com/">Live site</a> | <a href="https://github.com/alexdietz1988/GreatestAlbums">GitHub repo</a></p>
        <p>A full-stack Django app, using a PostgreSQL database, for exploring <em>Rolling Stone</em>&#8217s list of the 500 Greatest Albums of All Time.</p>
        <p>Users can see album details, including other albums by the artist on the RS list; save albums they like or want to listen to; filter albums by decade or year; and filter out albums they&#8217ve already saved.</p>
        
    </div>
    <div class="inline-image">
        <a href="http://thegreatestalbums.com/"><img src="https://alexdietz-personal.s3.amazonaws.com/greatestalbums.png" alt="Greatest Albums" /></a>
    </div>
</section>

<section>
    <div class="description">
        <h3>Local Brews</h3>
        <p><a href="https://localbrews.netlify.app/">Live site</a> | <a href="https://github.com/alexdietz1988/LocalBrews">GitHub frontend repo</a> | <a href="https://github.com/alexdietz1988/local-brews-backend">GitHub backend repo</a></p>
        <p>
            A full-stack React app that helps users find and keep track of local breweries. The app retrieves brewery information from a third-party API, and uses a MongoDB database too store which breweries the user is interested in and beers that the user has tried.
        </p>
    </div>
    <div class="inline-image">
        <a href="https://localbrews.netlify.app/"><img src="https://alexdietz-personal.s3.amazonaws.com/localbrews.png" alt="Local Brews" /></a>
    </div>
</section>

<section>
    <div class="description">
        <h3>Book Diary</h3>
        <p><a href="https://book-diary-321.herokuapp.com/">Live site</a> | <a href="https://github.com/alexdietz1988/BookDiary">GitHub repo</a></p>
        <p>
            A full-stack app for keeping track of books, built in collaboration with <a href="https://www.linkedin.com/in/oksana-kalyniak/">Oksana Kalyniak</a> and <a href="https://www.linkedin.com/in/akelly26/">Anthony Kelly</a>. The app is built using Express, Node.js, and EJS, and uses MongoDB to store user and book data.
        </p>
    </div>
    <div class="inline-image">
        <a href="https://book-diary-321.herokuapp.com/"><img src="https://alexdietz-personal.s3.amazonaws.com/bookdiary.png" alt="Book Diary" /></a>
    </div>
</section>

<section>
    <div class="description">
        <h3>2048</h3>
        <p><a href="https://alexdietz1988.github.io/2048/">Live site</a> | <a href="https://github.com/alexdietz1988/2048">GitHub repo</a></p>
        <p>
            My own version of <a href="https://play2048.co/">the popular browser-based puzzle game</a>, built using JavaScript DOM manipulation.
        </p>
    </div>
    <div class="inline-image">
        <a href="https://alexdietz1988.github.io/2048/"><img src="https://alexdietz-personal.s3.amazonaws.com/2048.png" alt="2048" /></a>
    </div>
</section>

{% endblock %}