{% extends "base.html" %}

{% block title %}Publications{% endblock %}

{% block body %}
<h2>Publications</h2>

<section>
<p>Here are the philosophy articles I&#8217ve published:</p>
<ul>
    <li><a href="https://www.cambridge.org/core/journals/utilitas/article/abs/collective-reasons-and-agentrelativity/D3AA759E8B2CCF673CA018837A78E76E" target="_blank">Collective Reasons and Agent-Relativity</a>. <i>Utilitas</i>, 2022.</li>
    <li><a href="https://brill.com/view/journals/jmp/18/4/article-p387_387.xml?language=en" target="_blank">How to Use the Paradox of Hedonism</a>. <i>Journal of Moral Philosophy</i>, 2021.</li>
    <li><a href="https://philpapers.org/rec/DIEAMT" target="_blank">Are My Temporal Parts Agents?</a> <i>Philosophy and Phenomenological Research</i>, 2020.</li>
    <li><a href="https://philpapers.org/rec/DIEETP" target="_blank">Explaining the Paradox of Hedonism</a>. <i>Australasian Journal of Philosophy</i>, 2019.</li>
    <li><a href="https://philpapers.org/rec/DIEEAA-2" target="_blank">Effective Altruism and Collective Obligations</a>. <i>Utilitas</i>, 2019.</li>
    <li><a href="https://philpapers.org/rec/DIEWWT" target="_blank">What We Together Ought to Do</a>. <i>Ethics</i>, 2016.</li>
</ul>
</section>

{% endblock %}