{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Dietz | {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href={% static 'main.css' %}>
	<link rel="stylesheet" href={% static 'header.css' %}>
	<link rel="stylesheet" href={% static 'blog.css' %}>
</head>
<body>

	<header>
		<h1><a href="{% url "home" %}">Alex Dietz</a></h1>
		<nav>
			<ul>
				<li><a href="{% url 'home' %}">About Me</a></li>
				<li><a href="{% url 'projects' %}">Projects</a></li>
				<li><a href="{% url 'publications' %}">Publications</a></li>
				<li><a href="{% url 'blog' %}">Blog</a></li>
			</ul>
		</nav>
	</header>

	<h2><a href="{% url "blog" %}">Blog</a></h2>

	<main>
	
	<div class="posts">
		{% block body %}
		{% endblock%}
	</div>

	<aside>

		<section>
			<h3 class="sidebar-header">Recent posts</h3>
			<ul class="sidebar-list">
			{% for post in posts %}
				{% if post.private == False or user.membership.member and forloop.counter < 10 %}
					<li><a href="{% url "postdetail" post.pk %}">{{post.title}}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
			<p><a href={% url "archives" %}>All posts</a></p>
		</section>

		{% if user.membership.member %}
		<section>
			<h4 class="sidebar-header">Tags</h4>
			<ul class="sidebar-list">
			{% for tag in tags %}
				{% if tag.posts.all|length > 0 %}
					<li><a href="{% url "tagged-posts" tag.pk %}">{{tag.name}}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		<p>
			{% if user.membership.member %}
				You are logged in as a member. <div class="button login"><a href="{% url "logout" %}">Logout</a></div>
			{% elif user.is_authenticated %}
				You are logged in as a non-member.
			{% else %}
				<div class="button login"><a href="{% url "login" %}"><em>Member Login</em></a></div>
			{% endif %}
		</p>

	</aside>

	</main>

</body>
</html>