{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Dietz | {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href={% static 'main.css' %}>
	<link rel="stylesheet" href={% static 'header.css' %}>
	<link rel="stylesheet" href={% static 'blog.css' %}>
</head>
<body>

	<header>
		<h1><a href="{% url "home" %}">Alex Dietz</a></h1>
		<nav>
			<ul>
				<li><a href="{% url 'home' %}">About Me</a></li>
				<li><a href="{% url 'projects' %}">Projects</a></li>
				<li><a href="{% url 'publications' %}">Publications</a></li>
				<li><a href="{% url 'blog' %}">Blog</a></li>
			</ul>
		</nav>
	</header>

	<h2><a href="{% url "blog" %}">Blog</a></h2>

	<main>
		<div class="posts">
        {% block body %}
        {% endblock%}
		</div>

	<aside>
		<h3>Sidebar</h3>

		<p>
			<b>tags</b>: 
			{% for tag in tags %}
				{% if tag.posts.all|length > 0 and tag.name != 'private' %}
					<a href="{% url "tagged-posts" tag.pk %}">{{tag.name}}</a>
				{% endif %}
			{% endfor %}
		</p>

		<p>
			{% if user.membership.member == True %}
				You are logged in as a member. <a href="{% url "logout" %}">Logout</a>
			{% else %}
				<div class="login"><a href="{% url "login" %}"><em>Member Login</em></a></div>
			{% endif %}
		</p>

	</aside>

	</main>

</body>
</html>