{% extends "blog/base.html" %}

{% block title %}Blog{% endblock %}

{% block body %}

<h2>Blog</h2>

{% for post in posts %}
    {% if post.private == False or user.membership.member == True %}
        <div class="post">
            <h3 class="post-title">{{post.title}}</h3>
            {% if post.private == True %}
                <div class="private"><em>Private</em></div>
            {% endif %}
            {{post.body|safe}}
            <p>
                <a href={% url "postdetail" post.pk %}><em>{{post.created_at}}</em></a> — tags:
                {% for tag in post.tags.all %}
                    <a href="{% url "tagged-posts" tag.pk %}">{{tag}}</a>
                {% endfor %}
            </p>
        </div>
    {% endif %}
{% endfor %}

<p>
    <b>All tags</b>: 
    {% for tag in tags %}
        {% if tag.posts.all|length > 0 and tag.name != 'private' %}
            <a href="{% url "tagged-posts" tag.pk %}">{{tag.name}}</a>
        {% endif %}
    {% endfor %}
</p>

<p>
{% if user.membership.member == True %}
    You are logged in as a member. <a href="{% url "logout" %}">Logout</a>
{% else %}
    <a href="{% url "login" %}">Member Login</a>
{% endif %}
</p>

{% endblock %}